* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; 
  background: linear-gradient(to right, #e0f7fa, #80deea);
  color: #00060c; 
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-20px); 
    opacity: 0; 
  }
  to {
    transform: translateX(0); 
    opacity: 1; 
  }
}

header {
  animation: fadeIn 3s; 
  text-align: center;
  padding: 20px;
  background-color: #1e3799; 
  color: white;
  border-radius: 8px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 20px 0;
  padding: 10px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: #2980b9; 
  border-radius: 15px; 
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #4a69bd; 
}

section {
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px; 
  animation: slideIn 0.8s; 
}

section h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

section ul {
  padding-left: 20px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}


.small-gif {
  max-width: 100px; 
  height: auto; 
  float: right; 
  margin-left: 20px;
}


.bio-content {
  display: flex;
  align-items: center;
}
